body {
  background-color: darkgray;
}

.button {
  display: flex;
  width  : 50%;
}

.flex {
  display        : flex;
  justify-content: center;
}

.down {
  width: 200px;
}

img {
  width: 100%;
}

.defaultDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/dices.png");
  background-size    : cover;
  background-position: center;
}

.firstDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/diceone.png");
  background-size    : cover;
  background-position: center;
}

.secondDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/dicetwo.png");
  background-size    : cover;
  background-position: center;
}

.thirdDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/dicethree.png");
  background-size    : cover;
  background-position: center;
}

.fourthDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/dicefour.png");
  background-size    : cover;
  background-position: center;
}

.fifthDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/dicefive.png");
  background-size    : cover;
  background-position: center;
}

.sixthDice {
  width              : 50px;
  height             : 50px;
  background-image   : url("./img/dicesix.png");
  background-size    : cover;
  background-position: center;
}

.rules {
  display            : flex;
  font-weight        : bold;
  width              : 25%;
  margin-top         : -650px;
}

.rules p {
  font-size: 17px;
}

.win {
  display: flex;
  justify-content: end;
}

