.big-square {
  height: 400px;
  border: 1px solid black; 
}
.top-left {
  border-top-left-radius: 15%;
  background-color: #0a1699;
  width: 90%;
  height: 90%;
}
.top-right {
  border-top-right-radius: 15%;
  background-color: #fcc02c;
  width: 90%;
  height: 90%;
}
.milieu-vertical {
  width  : 50px;
  padding: 0;
  margin: 0;
  border : 1px solid red;
}
.milieu-horizontal {
  height: 50px;
  border : 1px solid red;
  padding: 0;
  width: auto;
}
.bottom-left {
  border-bottom-left-radius: 15%;
  background-color: #016606;
  width: 90%;
  height: 90%;
}
.bottom-right {
  border-bottom-right-radius: 15%;
  background-color: rgba(178, 0, 7, 255);
  width: 90%;
  height: 90%;
}
.circle {
  height: 10%;
  width: 10%;
  background-color: #0a1699;
  border-radius: 50%;
}
/*
.title {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}
 #root {
  background-color: black;
}

.container {
  display   : flex;
  flex-wrap : wrap;
  width     : 100%;
  margin-top: 20px;
}

.row {
  width          : 100%;
}



.milieu-horizontal {
 height : 200px;
 display: flex;
 justify-content: left;
  width: 100%;
  border : 1px solid white;
}

.col-5 {
  padding: 0;
  justify-content: center;
}



.top-right {
  display                : flex;
  background-color       : #fcc02c;
  height                 : 400px;
  width                  : 100%;
  border-top-right-radius: 15%;
}

.bottom-left {
  display                  : flex;
  background-color         : #016606;
  height                   : 400px;
  width                    : 100%;
  border-bottom-left-radius: 15%;
}

.bottom-right {
  display                   : flex;
  background-color          : rgba(178, 0, 7, 255);
  height                    : 400px;
  width                     : 100%;
  border-bottom-right-radius: 15%;
} */
